.link {
  padding-left: var(--mantine-spacing-lg);
  padding-right: var(--mantine-spacing-lg);
  height: 2rem;
  border-radius: var(--mantine-radius-md);
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
  justify-content: flex-start;
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-gray-5));
  text-decoration: none;
  transition: 0.15s;
  &:hover {
    background-color: light-dark(
      var(--mantine-color-gray-3),
      var(--mantine-color-dark-5)
    );
  }

  &[data-status] {
    &,
    &:hover {
      color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-gray-0));
    }
  }
}
