.wrapper {
    height: 75px;
    padding-left: 1.5rem;
    padding-right: 0.55rem;
    border-top: 2px solid light-dark(var(--mantine-color-gray-2 ), var(--mantine-color-dark-4));
    overflow: hidden;
}

.logout {
    color: light-dark(var(--mantine-color-gray-6), var(--mantine-color-dark-3));
}