.shell {
  header {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    border-bottom: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  }

  nav {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-7));
    border-right: 1px solid light-dark(var(--mantine-color-gray-2), var(--mantine-color-dark-6));
  }

  main {
    background-color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-dark-8));
  }
}
